In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
pk = pd.read_csv(r"property2.csv",delimiter=";")

In [15]:
pk

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,Year,Rooms
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,5,2010,WD,Normal,215000,1999 or older,7 rooms or more
1,2,526301100,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,MnPrv,NaN,0,6,2010,WD,Normal,105000,1999 or older,6 rooms or less
2,3,526301100,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,NaN,Gar2,12500,6,2010,WD,Normal,172000,1999 or older,6 rooms or less
3,4,526301100,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,4,2010,WD,Normal,244000,1999 or older,7 rooms or more
4,5,526301100,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,MnPrv,NaN,0,3,2010,WD,Normal,189900,1999 or older,6 rooms or less
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,526301100,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,GdPrv,NaN,0,3,2006,WD,Normal,142500,1999 or older,6 rooms or less
2926,2927,526301100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,MnPrv,NaN,0,6,2006,WD,Normal,131000,1999 or older,6 rooms or less
2927,2928,526301100,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,MnPrv,Shed,700,7,2006,WD,Normal,132000,1999 or older,6 rooms or less
2928,2929,526301100,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,4,2006,WD,Normal,170000,1999 or older,6 rooms or less
2929,2930,526301100,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,11,2006,WD,Normal,188000,1999 or older,7 rooms or more

In [18]:
df = pd.read_csv(r"propertyModified.csv",delimiter=",")

In [19]:
df

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,,Street,Alley,Lot Shape,Land Contour,...,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,Year,Rooms,Unnamed: 84,Unnamed: 85
0,1,526321122,22,RL,"141,00",2,31772,Pave,NaN,IR1,...,NaN,2,5,2212,WD,Normal,215222,1999 or older,7 rooms or more,NaN
1,2,526321122,22,RH,"82,00",2,11622,Pave,NaN,Reg,...,NaN,2,6,2212,WD,Normal,125222,1999 or older,6 rooms or less,NaN
2,3,526321122,22,RL,"81,00",2,14267,Pave,NaN,IR1,...,Gar2,12522,6,2212,WD,Normal,172222,1999 or older,6 rooms or less,NaN
3,4,526321122,22,RL,"93,00",2,11162,Pave,NaN,Reg,...,NaN,2,4,2212,WD,Normal,244222,1999 or older,7 rooms or more,NaN
4,5,526321122,62,RL,"74,00",2,13832,Pave,NaN,IR1,...,NaN,2,3,2212,WD,Normal,189922,1999 or older,6 rooms or less,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,526321122,82,RL,"37,00",2,7937,Pave,NaN,IR1,...,NaN,2,3,2226,WD,Normal,142522,1999 or older,6 rooms or less,NaN
2926,2927,526321122,22,RL,NaN,8885,Pave,NaN,IR1,Low,...,2,6,2226,WD,Normal,131222,1999 or older,6 rooms or less,NaN,NaN
2927,2928,526321122,85,RL,"62,00",2,12441,Pave,NaN,Reg,...,Shed,722,7,2226,WD,Normal,132222,1999 or older,6 rooms or less,NaN
2928,2929,526321122,22,RL,"77,00",2,12212,Pave,NaN,Reg,...,NaN,2,4,2226,WD,Normal,172222,1999 or older,6 rooms or less,NaN
2929,2932,526321122,62,RL,"74,00",2,9627,Pave,NaN,Reg,...,NaN,2,11,2226,WD,Normal,188222,1999 or older,7 rooms or more,NaN

In [20]:
df["Lot Frontage"] = df["Lot Frontage"].str.replace(",",".")
df

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,,Street,Alley,Lot Shape,Land Contour,...,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,Year,Rooms,Unnamed: 84,Unnamed: 85
0,1,526321122,22,RL,141.00,2,31772,Pave,NaN,IR1,...,NaN,2,5,2212,WD,Normal,215222,1999 or older,7 rooms or more,NaN
1,2,526321122,22,RH,82.00,2,11622,Pave,NaN,Reg,...,NaN,2,6,2212,WD,Normal,125222,1999 or older,6 rooms or less,NaN
2,3,526321122,22,RL,81.00,2,14267,Pave,NaN,IR1,...,Gar2,12522,6,2212,WD,Normal,172222,1999 or older,6 rooms or less,NaN
3,4,526321122,22,RL,93.00,2,11162,Pave,NaN,Reg,...,NaN,2,4,2212,WD,Normal,244222,1999 or older,7 rooms or more,NaN
4,5,526321122,62,RL,74.00,2,13832,Pave,NaN,IR1,...,NaN,2,3,2212,WD,Normal,189922,1999 or older,6 rooms or less,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,526321122,82,RL,37.00,2,7937,Pave,NaN,IR1,...,NaN,2,3,2226,WD,Normal,142522,1999 or older,6 rooms or less,NaN
2926,2927,526321122,22,RL,NaN,8885,Pave,NaN,IR1,Low,...,2,6,2226,WD,Normal,131222,1999 or older,6 rooms or less,NaN,NaN
2927,2928,526321122,85,RL,62.00,2,12441,Pave,NaN,Reg,...,Shed,722,7,2226,WD,Normal,132222,1999 or older,6 rooms or less,NaN
2928,2929,526321122,22,RL,77.00,2,12212,Pave,NaN,Reg,...,NaN,2,4,2226,WD,Normal,172222,1999 or older,6 rooms or less,NaN
2929,2932,526321122,62,RL,74.00,2,9627,Pave,NaN,Reg,...,NaN,2,11,2226,WD,Normal,188222,1999 or older,7 rooms or more,NaN

In [21]:
df["Lot Frontage"]=df["Lot Frontage"].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 86 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5                    2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            2453 non-null   object
 8   Lot Shape        675 non-null    object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   object
 19  Overall Cond     2930 non-null   object
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     2924 non-null   object
 27  Mas Vnr Area     2907 non-null   object
 28  Exter Qual       2913 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2916 non-null   object
 32  Bsmt Cond        2858 non-null   object
 33  Bsmt Exposure    2850 non-null   object
 34  BsmtFin Type 1   2847 non-null   object
 35  BsmtFin SF 1     2864 non-null   object
 36  BsmtFin Type 2   2907 non-null   object
 37  BsmtFin SF 2     2871 non-null   object
 38  Bsmt Unf SF      2921 non-null   object
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2929 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2930 non-null   object
 44  1st Flr SF       2929 non-null   object
 45  2nd Flr SF       2930 non-null   object
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2930 non-null   int64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2928 non-null   float64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   object
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   object
 58  Fireplace Qu     2765 non-null   object
 59  Garage Type      1860 non-null   object
 60  Garage Yr Blt    2613 non-null   object
 61  Garage Finish    2772 non-null   object
 62  Garage Cars      2781 non-null   object
 63  Garage Area      2891 non-null   object
 64  Garage Qual      2919 non-null   object
 65  Garage Cond      2809 non-null   object
 66  Paved Drive      2781 non-null   object
 67  Wood Deck SF     2892 non-null   object
 68  Open Porch SF    2930 non-null   object
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          2474 non-null   object
 74  Fence            441 non-null    object
 75  Misc Feature     399 non-null    object
 76  Misc Val         627 non-null    object
 77  Mo Sold          2610 non-null   object
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   object
 82  Year             2930 non-null   object
 83  Rooms            2930 non-null   object
 84  Unnamed: 84      2473 non-null   object
 85  Unnamed: 85      332 non-null    object
dtypes: float64(4), int64(17), object(65)
memory usage: 1.9+ MB

In [22]:
df_20 = df[df["Lot Frontage"] >= 20]
df_20

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,,Street,Alley,Lot Shape,Land Contour,...,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,Year,Rooms,Unnamed: 84,Unnamed: 85
0,1,526321122,22,RL,141.0,2,31772,Pave,NaN,IR1,...,NaN,2,5,2212,WD,Normal,215222,1999 or older,7 rooms or more,NaN
1,2,526321122,22,RH,82.0,2,11622,Pave,NaN,Reg,...,NaN,2,6,2212,WD,Normal,125222,1999 or older,6 rooms or less,NaN
2,3,526321122,22,RL,81.0,2,14267,Pave,NaN,IR1,...,Gar2,12522,6,2212,WD,Normal,172222,1999 or older,6 rooms or less,NaN
3,4,526321122,22,RL,93.0,2,11162,Pave,NaN,Reg,...,NaN,2,4,2212,WD,Normal,244222,1999 or older,7 rooms or more,NaN
4,5,526321122,62,RL,74.0,2,13832,Pave,NaN,IR1,...,NaN,2,3,2212,WD,Normal,189922,1999 or older,6 rooms or less,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2924,2925,526321122,22,RL,162.0,2,22222,Pave,NaN,Reg,...,NaN,2,9,2226,WD,Abnorml,131222,1999 or older,7 rooms or more,NaN
2925,2926,526321122,82,RL,37.0,2,7937,Pave,NaN,IR1,...,NaN,2,3,2226,WD,Normal,142522,1999 or older,6 rooms or less,NaN
2927,2928,526321122,85,RL,62.0,2,12441,Pave,NaN,Reg,...,Shed,722,7,2226,WD,Normal,132222,1999 or older,6 rooms or less,NaN
2928,2929,526321122,22,RL,77.0,2,12212,Pave,NaN,Reg,...,NaN,2,4,2226,WD,Normal,172222,1999 or older,6 rooms or less,NaN
2929,2932,526321122,62,RL,74.0,2,9627,Pave,NaN,Reg,...,NaN,2,11,2226,WD,Normal,188222,1999 or older,7 rooms or more,NaN

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 86 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5                    2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            2453 non-null   object
 8   Lot Shape        675 non-null    object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   object
 19  Overall Cond     2930 non-null   object
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     2924 non-null   object
 27  Mas Vnr Area     2907 non-null   object
 28  Exter Qual       2913 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2916 non-null   object
 32  Bsmt Cond        2858 non-null   object
 33  Bsmt Exposure    2850 non-null   object
 34  BsmtFin Type 1   2847 non-null   object
 35  BsmtFin SF 1     2864 non-null   object
 36  BsmtFin Type 2   2907 non-null   object
 37  BsmtFin SF 2     2871 non-null   object
 38  Bsmt Unf SF      2921 non-null   object
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2929 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2930 non-null   object
 44  1st Flr SF       2929 non-null   object
 45  2nd Flr SF       2930 non-null   object
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2930 non-null   int64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2928 non-null   float64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   object
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   object
 58  Fireplace Qu     2765 non-null   object
 59  Garage Type      1860 non-null   object
 60  Garage Yr Blt    2613 non-null   object
 61  Garage Finish    2772 non-null   object
 62  Garage Cars      2781 non-null   object
 63  Garage Area      2891 non-null   object
 64  Garage Qual      2919 non-null   object
 65  Garage Cond      2809 non-null   object
 66  Paved Drive      2781 non-null   object
 67  Wood Deck SF     2892 non-null   object
 68  Open Porch SF    2930 non-null   object
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          2474 non-null   object
 74  Fence            441 non-null    object
 75  Misc Feature     399 non-null    object
 76  Misc Val         627 non-null    object
 77  Mo Sold          2610 non-null   object
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   object
 82  Year             2930 non-null   object
 83  Rooms            2930 non-null   object
 84  Unnamed: 84      2473 non-null   object
 85  Unnamed: 85      332 non-null    object
dtypes: float64(4), int64(17), object(65)
memory usage: 1.9+ MB

In [41]:
new_df=df[["Order","Lot Frontage","PID","MS SubClass"]]
new_df

      Order  Lot Frontage        PID  MS SubClass
0         1         141.0  526321122           22
1         2          82.0  526321122           22
2         3          81.0  526321122           22
3         4          93.0  526321122           22
4         5          74.0  526321122           62
...     ...           ...        ...          ...
2925   2926          37.0  526321122           82
2926   2927           NaN  526321122           22
2927   2928          62.0  526321122           85
2928   2929          77.0  526321122           22
2929   2932          74.0  526321122           62

[2930 rows x 4 columns]

In [42]:
new_df= new_df[new_df["Lot Frontage"] > 37.0]

In [43]:
new_df

      Order  Lot Frontage        PID  MS SubClass
0         1         141.0  526321122           22
1         2          82.0  526321122           22
2         3          81.0  526321122           22
3         4          93.0  526321122           22
4         5          74.0  526321122           62
...     ...           ...        ...          ...
2923   2924          82.0  526321122           22
2924   2925         162.0  526321122           22
2927   2928          62.0  526321122           85
2928   2929          77.0  526321122           22
2929   2932          74.0  526321122           62

[2260 rows x 4 columns]

In [45]:
new_df.drop(["Lot Frontage", "Order"], axis = "columns").sum().sort_values(ascending = False)

PID            1189485735720
MS SubClass           119010
dtype: int64

In [44]:
df_15 = new_df[new_df["Lot Frontage"] >= 15]
df_15.sum().sort_values(ascending = False)

PID             1.189486e+12
Order           3.371516e+06
Lot Frontage    1.673890e+05
MS SubClass     1.190100e+05
dtype: float64

In [46]:
new_df[["Order","Lot Frontage"]]

new_df.iloc[[0,1,2,3]]

   Order  Lot Frontage        PID  MS SubClass
0      1         141.0  526321122           22
1      2          82.0  526321122           22
2      3          81.0  526321122           22
3      4          93.0  526321122           22

In [22]:
df_15 = df[df["Slowness in traffic (%)"] >= 15]

df_15.sum().sort_values(ascending = False)

Hour (Coded)                             488.0
Slowness in traffic (%)                  370.7
Broken Truck                              23.0
Point of flooding                         15.0
Accident victim                           11.0
Semaphore off                             11.0
Lack of electricity                       11.0
Immobilized bus                            8.0
Defect in the network of trolleybuses      3.0
Running over                               2.0
Manifestations                             2.0
Fire vehicles                              1.0
Vehicle excess                             0.0
Occurrence involving freight               0.0
Incident involving dangerous freight       0.0
Fire                                       0.0
Tree on the road                           0.0
Intermittent Semaphore                     0.0
dtype: float64

In [31]:
for i in range(len(new_df)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439

In [32]:
for i in range(len(new_df)):
    df.iloc[i:i+27]

In [33]:
for i in range(0,len(new_df), 27):
    print(i)

0
27
54
81
108
135
162
189
216
243
270
297
324
351
378
405
432
459
486
513
540
567
594
621
648
675
702
729
756
783
810
837
864
891
918
945
972
999
1026
1053
1080
1107
1134
1161
1188
1215
1242
1269
1296
1323
1350
1377
1404
1431
1458
1485
1512
1539
1566
1593
1620
1647
1674
1701
1728
1755
1782
1809
1836
1863
1890
1917
1944
1971
1998
2025
2052
2079
2106
2133
2160
2187
2214
2241
2268
2295
2322
2349
2376
2403
2430

In [34]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri"]

traffic_per_day = {}


for i in range(0,len(new_df), 27):
    daily = df.iloc[i:i+27]

In [36]:
for i in zip(["Waqas", "Feroz","Hiba"], [2,3,4]):
    print(i)

('Waqas', 2)
('Feroz', 3)
('Hiba', 4)

In [ ]:
for i in range(len(df)):
    df.iloc[i:i+27]

In [35]:
for i in range(0,len(df), 27):
    print(i)

0
27
54
81
108

In [37]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri"]

traffic_per_day = {}


for i in range(0,len(df), 27):
    daily = df.iloc[i:i+27]

In [38]:
for i in zip(["Waqas", "Feroz","Hiba"], [2,3,4]):
    print(i)

('Waqas', 2)
('Feroz', 3)
('Hiba', 4)

In [39]:
for i,j in zip(["Waqas", "Feroz","Hiba"], [2,3,4]):
    print(i)

Waqas
Feroz
Hiba

In [42]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri"]

traffic_per_day = {}


for day, i in zip(days, range(0,len(new_df), 27)):
    daily_data = new_df.iloc[i:i+27]
    
    traffic_per_day[day] = daily_data

In [45]:
traffic_per_day["Tue"]

    Order  Lot Frontage        PID  MS SubClass
32     33          53.0  526321122          122
33     34          24.0  526321122          162
34     35          24.0  526321122          122
35     36          24.0  526321122          162
36     37         122.0  526321122           62
37     38          98.0  526321122           22
38     39          83.0  526321122           22
39     42          94.0  526321122           22
40     41          95.0  526321122           22
41     42          92.0  526321122           22
42     43          79.0  526321122           22
43     44          72.0  526321122           22
44     45         122.0  526321122           22
45     46          44.0  526321122          122
46     47         112.0  526321122           22
47     48         125.0  526321122           62
48     49          61.0  526321122          122
49     52          41.0  526321122          122
50     51          36.0  526321122          162
51     52         122.0  526321122           22
52     53          43.0  526321122          122
53     54          43.0  526321122          122
54     55          67.0  526321122           82
56     57          63.0  526321122           62
59     62         128.0  526321122           62
60     61          62.0  526321122           62
61     62          59.0  526321122           22

In [44]:
traffic_per_day["Thu"]

     Order  Lot Frontage        PID  MS SubClass
93      94          25.0  526321122          122
94      95          39.0  526321122          162
95      96          32.0  526321122          162
96      97          32.0  526321122          162
97      98          24.0  526321122          162
98      99          24.0  526321122          162
102    123          24.0  526321122          162
104    125          57.0  526321122           22
105    126          68.0  526321122           62
106    127          32.0  526321122          122
107    128          42.0  526321122          122
109    112          82.0  526321122           22
111    112          82.0  526321122           62
114    115          82.0  526321122           62
115    116          78.0  526321122           22
116    117          82.0  526321122           62
117    118          82.0  526321122           22
119    122          77.0  526321122           22
120    121          92.0  526321122           22
121    122          88.0  526321122           22
124    125          82.0  526321122           85
125    126          98.0  526321122           92
126    127          68.0  526321122           22
127    128          68.0  526321122           52
128    129         122.0  526321122           52
129    132          52.0  526321122           22
130    131          55.0  526321122           32

In [46]:
for i in traffic_per_day:
    print(traffic_per_day[i])

    Order  Lot Frontage        PID  MS SubClass
0       1         141.0  526321122           22
1       2          82.0  526321122           22
2       3          81.0  526321122           22
3       4          93.0  526321122           22
4       5          74.0  526321122           62
5       6          78.0  526321122           62
6       7          41.0  526321122          122
7       8          43.0  526321122          122
8       9          39.0  526321122          122
9      12          62.0  526321122           62
10     11          75.0  526321122           62
12     13          63.0  526321122           62
13     14          85.0  526321122           22
15     16          47.0  526321122           62
16     17         152.0  526321122           52
17     18          88.0  526321122           22
18     19         142.0  526321122           22
19     22          85.0  526321122           22
20     21         125.0  526321122           22
21     22          85.0  526321122           85
25     26          65.0  526321122           22
26     27          72.0  526321122           22
27     28          72.0  526321122           22
28     29          26.0  526321122          122
29     32          21.0  526321122          162
30     31          21.0  526321122          162
31     32          21.0  526321122          162
    Order  Lot Frontage        PID  MS SubClass
32     33          53.0  526321122          122
33     34          24.0  526321122          162
34     35          24.0  526321122          122
35     36          24.0  526321122          162
36     37         122.0  526321122           62
37     38          98.0  526321122           22
38     39          83.0  526321122           22
39     42          94.0  526321122           22
40     41          95.0  526321122           22
41     42          92.0  526321122           22
42     43          79.0  526321122           22
43     44          72.0  526321122           22
44     45         122.0  526321122           22
45     46          44.0  526321122          122
46     47         112.0  526321122           22
47     48         125.0  526321122           62
48     49          61.0  526321122          122
49     52          41.0  526321122          122
50     51          36.0  526321122          162
51     52         122.0  526321122           22
52     53          43.0  526321122          122
53     54          43.0  526321122          122
54     55          67.0  526321122           82
56     57          63.0  526321122           62
59     62         128.0  526321122           62
60     61          62.0  526321122           62
61     62          59.0  526321122           22
    Order  Lot Frontage        PID  MS SubClass
62     63          98.0  526321122           62
63     64          92.0  526321122           62
64     65          58.0  526321122           62
65     66          56.0  526321122           52
66     67          73.0  526321122           22
67     68          92.0  526321122           22
68     69          72.0  526321122           62
69     72          75.0  526321122           22
70     71         122.0  526321122           62
71     72          84.0  526321122           22
72     73          76.0  526321122           62
73     74          72.0  526321122           62
75     76          52.0  526321122          122
76     77          72.0  526321122           62
77     78          55.0  526321122          122
78     79          52.0  526321122          122
80     81          81.0  526321122           22
81     82          72.0  526321122           62
82     83          72.0  526321122           32
83     84          68.0  526321122           92
84     85          88.0  526321122           85
85     86          65.0  526321122           22
87     88          75.0  526321122           22
89     92          39.0  526321122           22
90     91         127.0  526321122           62
91     92          85.0  526321122           62
92     93          88.0  526321122           62
     Order  Lot Frontage        PID  MS SubClass
93      94          25.0  526321122          122
94      95          39.0  526321122          162
95      96          32.0  526321122          162
96      97          32.0  526321122          162
97      98          24.0  526321122          162
98      99          24.0  526321122          162
102    123          24.0  526321122          162
104    125          57.0  526321122           22
105    126          68.0  526321122           62
106    127          32.0  526321122          122
107    128          42.0  526321122          122
109    112          82.0  526321122           22
111    112          82.0  526321122           62
114    115          82.0  526321122           62
115    116          78.0  526321122           22
116    117          82.0  526321122           62
117    118          82.0  526321122           22
119    122          77.0  526321122           22
120    121          92.0  526321122           22
121    122          88.0  526321122           22
124    125          82.0  526321122           85
125    126          98.0  526321122           92
126    127          68.0  526321122           22
127    128          68.0  526321122           52
128    129         122.0  526321122           52
129    132          52.0  526321122           22
130    131          55.0  526321122           32
     Order  Lot Frontage        PID  MS SubClass
131    132          82.0  526321122           22
132    133          82.0  526321122           82
133    134          78.0  526321122           22
134    135          75.0  526321122           85
135    136          82.0  526321122           92
137    138         137.0  526321122           22
138    139          72.0  526321122           92
139    142          72.0  526321122           22
141    142          72.0  526321122           22
142    143          72.0  526321122           22
143    144          73.0  526321122           22
145    146          73.0  526321122           22
146    147          87.0  526321122           22
147    148          82.0  526321122           22
148    149          62.0  526321122           52
149    152          62.0  526321122           22
150    151         119.0  526321122           22
151    152          72.0  526321122          192
152    153          68.0  526321122           22
153    154          65.0  526321122           32
154    155          62.0  526321122           22
155    156          85.0  526321122           22
156    157          74.0  526321122           22
157    158          78.0  526321122           52
158    159          64.0  526321122           92
160    161          96.0  526321122           82
161    162          62.0  526321122           52